
 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --normal-text: 'Rubik', sans-serif;
    --head-text: 'Rubik', sans-serif;
    --light-text: 'Rubik', sans-serif;
}

 *{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
    font-family: var(--normal-text);
}

.padding{

    padding: 1em 2em;
}


.logo h2 img{

    width: 15%;
}

.logo h2{

    font-weight: 500;
}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.8em;
}


header nav ul{

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
   
}

header nav ul li a{

    color: black;

}

header nav ul li a:hover{

    color: rgba(0, 0, 255, 0.49);
}

.active{

    color: rgba(0, 0, 255, 0.927);
    font-weight: 600;
}

.button-div{

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* grid-template-columns: repeat(2,1fr); */

}

.icon{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header .icon button{
    padding: 0.3em 0.5em;
    background-color: rgba(220, 220, 220, 0.365);
    border: 1px solid rgba(128, 128, 128, 0.208);

}

header .icon .button{

    padding: 0.3em 0.5em;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.208);
}



header .button a button{

    font-size: 1rem;
    padding: 0.5em 1em;
    background-color: rgb(125, 14, 236);
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    
}


header .button a button:hover{

    background-color: blueviolet;
}


/* header styling ends  */

/* hero section styling starts  */




.hero-container{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5em;
}

.hero-text{

    grid-column: span 6;
    align-self: center;
}

.hero-text h1{

    font-size: 3.5rem;
    font-weight:bold;
    padding-bottom: 0.5em;
    font-family: var(--head-text);
    line-height: 1.0;
}

.hero-text p{

    color: rgba(0, 0, 0, 0.623);
    line-height: 2;
    padding-bottom: 0.3em;
    font-family: var(--light-text);
    font-weight: 100;
}

.act:hover{

    text-decoration: underline;

}
.hero-text .button1 button, .button2{

    padding: 1em 1.5em;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.070);
    background-color: white;
    cursor: pointer;
    font-family: var(--normal-text);
}

.hero-text .button1 button:hover{

    background-color: rgba(220, 220, 220, 0.392);
}

.hero-text .button1 .button2:hover{

    background-color: rgba(220, 220, 220, 0.392);
    color: blue;
}

.hero-image{

    grid-column: span 6;
    align-self: center;
    transition: all 0.5s ease-in;
}

.hero-image img{

    width: 100%;
}

.hero-image img:hover{

    
    transform: translatey(20%);
}


.grid-icons{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.grid-icons p{

    font-size: 2rem;
    color: gray;
    font-weight: bold;
    font-family: var(--normal-text);
}

.grid-icons p:hover{

    color:black;
    cursor: pointer;
    
}
/* hero section styling ends  */

/*  section2 styling starts */

.section2{

    background-color: gainsboro;
}

.grid-container{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.work-text{

    font-family: var(--normal-text);
    grid-column: span 6;
    align-items: center;
}

.work-img{

    grid-column: span 6;
}

.work-img img{

    width: 100%;
}

.work-text h1{

    font-family: var(--head-text);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.0;
    padding-bottom: 0.5em;
}


.work-text p{

    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: var(--light-text);
    padding: 1.5em 0;
}

.list .list-1{

    display: flex;
    gap: 0.5em;
    align-items: center;

}

.list .list-1 p{

    font-size: 1rem;
    margin: 0;
    padding: 0.5em 0;
}

.list .list-1 i{

    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    color: white;
    padding: 0.3em;
}


/* trust styling starts */

.trust-text{

    font-family: var(--normal-text);
    grid-column: span 6;
    align-self: center;
}

.trust-text{

    grid-column: span 6;
}

.trust-text h1{

    font-family: var(--head-text);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.0;
    padding-bottom: 0.5em;
}

.trust-text p{

    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: var(--light-text);
    padding: 1.5em 0;
}

.trust-text p:first-child{

    padding: 0 0 0.5em;
    color: purple;
    font-weight: 600;
}

.list .list-1{

    display: flex;
    gap: 0.5em;
    align-items: center;
}

.trust-text .list .list-1 p{

    font-size: 1rem;
    margin: 0;
    padding: 0.5em 0;
    color: purple;
}

.trust-text .list .list-1 i, .trust-container .list-1 i{

    background: none;
    border-radius: 50%;
    display: inline-block;
    color: purple;
    font-size: 1.5rem;
    padding: 0.3em;
}

.trust-text .trust-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0em;
}
/* trust styling ends */

.quote{

    background-color: rgba(220, 220, 220, 0.093);
}

.quote-container{

    text-align: center;
}

.quote-container .icon2 i{

    color: rgba(7, 7, 61, 0.392);
    font-size: 5rem;
    padding-bottom: 0.4em;
}

.quote-container .text-quote .para4{

    max-width: 30em;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--head-text);
    padding-bottom: 1em;
    line-height: 1.4;
}

.text-quote p span{

    font-size: 0.8rem;
}


/* quote section ends  */

/* card section styling starts  */

.card-container{

    text-align: center;
    padding: 1em 1em;
}

.card-container h1{

    padding-bottom: 0.5em;
}

.card-container p{

    max-width: 40em;
    margin: 0 auto; 
    padding-bottom: 1em;
    font-weight: lighter;
    line-height: 1.5;
}

/* card-grid */

.card-grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0em;
    transition: all 0.5s ease-in;
    place-items: center;
     }

.card1{

    
    width: 25em;
    height: 25em;
    border: 2px solid rgba(0, 0, 0, 0.063);
    border-radius: 10px;
    padding: 1em 1.5em;
    line-height: 1.7;
    
}



.card1 h3{

    padding-bottom: 0.8em;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--normal-text);
    text-align: center;
}

.card1 p{

    line-height: 1.8;
}
.card1 .para5 .span{

    font-weight: bolder;
    font-size: 2.5rem;
    padding-left: 1em;
}

.card1 .card-item i p{

    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.7;
    padding-bottom: 1em;
}

.card-button a button{

    padding: 0.8em 1em;
    background-color: blueviolet;
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 500; 
    cursor: pointer;
    margin-top: 1em;
}

.card-button a button:hover{

    background-color: #470ea3;
    transform: translatey(-10%);
}
/* card section styling ends  */

/* faq section styling starts  */


.faq h1{

    text-align: center;
    padding-bottom: 1em;
}


summary{

    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    color: black;
    background-color: rgba(220, 220, 220, 0.378);
}


details p{

    padding: 0.5em;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    line-height: 1.5;


}

details p a{

    font-weight: 500;
}


details ul li a:hover{

    text-decoration: underline;
   
}


summary:focus, summary:hover{

    background-color: white;
}

/* faq section ends  */

/* trial section styling starts */

.trial{

    background-color: rgba(220, 220, 220, 0.127);
}

.text-container4{

    text-align: center;
    transition: all 0.5s ease-in;
}

.text-container4 h1{

    font-size: 1.8rem;
    font-family: var(--head-text);
    padding-bottom: 0.8em;
}

.text-container4 p{

    padding: 1em;
    line-height: 1.7;
    font-weight: lighter;
}


.new-button a button{

    padding: 0.8em 1.2em;
    background-color: rgb(85, 0, 255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.new-button a button:hover{

    background-color: #470ea3;
    transform: translatey(50%);
}

/* trial section styling ends  */

/* footer starts  */



.footer-container{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.grid{

    padding-bottom: 1em;
}


.grid h3{

    padding-bottom: 1em;
    font-size: 1rem;
    font-weight: 500;
}
.grid ul li a{

    line-height: 2;
    color: rgba(0, 0, 0, 0.598);


}

.grid ul li a:hover{

    text-decoration: underline;
}

hr{

    opacity: 0.3;
}

.logo2{

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
.logo2 h2 img{

    width: 15%;
}

.logo2 h2{

    font-weight: 500;
}

.footer-p{

    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
    padding-bottom: 1em;
    line-height: 1.5;
}

.footer-p a:hover{

    text-decoration: underline;
}

/* footer-media */

.footer-media{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: all 0.5s ease-in;
}


.social2 a i:hover{

    color: black;
    transform: translatey(-20%);
}



/* media query */

@media only screen and (max-width:992px){

    .padding{

        padding: 7em 2em 5em;
    }

   .padding {

        padding: 0em 2em;
    }
    
    header nav{

        display: none;
    }

    .hero-text, .work-text{

        grid-column: span 12;
        order: 2;
    }

    .hero-image, .work-img{

        grid-column: span 12;
    }

    .hero-text h1{

        font-size: 2.5rem;
        font-weight:bold;
        padding-bottom: 0.5em;
        font-family: var(--head-text);
        line-height: 1.0;
    }

    /* hero section ends  */


    

    .grid-icons{

        flex-wrap: wrap;
    }

    .grid-icons p{

        font-size: 1rem;
    }

    /* trust styling */

    .trust-text{

        font-family: var(--normal-text);
        grid-column: span 12;
        align-self: center;
    }
    
    .trust-text{
    
        grid-column: span 12;
    }

    /* quote section  */

    .quote-container .icon2 i{

        color: rgba(7, 7, 61, 0.392);
        font-size: 3rem;
        padding-bottom: 0.4em;
    }
    
    .quote-container .text-quote .para4{
    
        max-width: 30em;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--head-text);
        padding-bottom: 1em;
        line-height: 1.4;
    }

    /* card section  */

    .card-container{

        text-align: center;
        padding: 4em  3em;
    }
    
    .card-grid{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0.8em;
         transition: all 0.5s ease-in;
    
    }

    .card1{

    
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.063);
        border-radius: 10px;
        padding: 2em 0.8em;
        
    }

    /* trial section  */

    .text-container4{

        text-align: center;
        transition: all 0.5s ease-in;
        padding: 2em 3em;
    }

    /* footer starts  */



.footer-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    /* padding: em 2em; */
}
    
}



@media only screen and (max-width:414px){

    .trust-text .trust-container{

        grid-template-columns: repeat(1, 1fr);
    }

    .grid.text h1{

        font-size: 2rem;
    }

    .icon, .button{

        display: none;
    }

    /* quote section  */

    .quote-container .icon2 i{

        color: rgba(7, 7, 61, 0.392);
        font-size: 1.5rem;
        padding-bottom: 0.4em;
    }
    
    .quote-container .text-quote .para4{
    
        max-width: 30em;
        margin: 0 auto;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: var(--head-text);
        padding-bottom: 1em;
        line-height: 1.4;
    }

    /* card scetion starts  */

    .card-container{

        text-align: center;
        padding: 0.5em 0.8em;
    }

    .card-grid{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0.8em;
        transition: all 0.5s ease-in;
        padding-bottom: 1em;
         
    }

    .card1{

    
        width: 20em;
        border: 2px solid rgba(0, 0, 0, 0.063);
        border-radius: 10px;
        padding: 1em 0,8em;
        
    }

    .card1 p{

        line-height: 1.8;
    }

    .card1 h3{

        padding-bottom: 0.8em;
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--normal-text);
    }

    .card1 .para5 .span{

        font-weight: bolder;
        font-size: 1.5rem;
    
    }

    


    /* trial section  */

    .text-container4 h1{

        font-size: 1.3rem;
        font-family: var(--head-text);
        padding-bottom: 0.8em;
    }
    
    .text-container4 p{
    
        padding: 1em;
        line-height: 1.5;
        font-weight: lighter;
    }

    .text-container4{

        text-align: center;
        transition: all 0.5s ease-in;
        padding: 2em 3em;
    }

    /* footer starts  */



.footer-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

    
    
}

@media only screen and (max-width:360px){

    /* card scetion starts  */

    .card-container{

        text-align: center;
        padding: 0.5em 0.8em;
    }

    .card-grid{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0.8em;
        transition: all 0.5s ease-in;
         
    }

    .card-container{

        text-align: center;
        padding: 0em  0em;
    }

    .card1{

    
        width: 20em;
        border: 2px solid rgba(0, 0, 0, 0.063);
        border-radius: 10px;
        padding: 1em 0.8em;
        
    }
}